# TOPIC: String based assignment problem

### 1. Write a program to reverse a string.

In [1]:
# given string:
string = "data science pro"

# using slicing method:
reversed_string = string[::-1]

# print reversed string:
print(reversed_string)

orp ecneics atad

### 2. Check if a string is a palindrome.

In [2]:
string = "malayalam"
revstr = ""
for i in string:
    revstr = i+revstr
    if(string == revstr):
        print("string is palindrome")
    else:
        print("string is not palindrome")

string is not palindrome
string is not palindrome
string is not palindrome
string is not palindrome
string is not palindrome
string is not palindrome
string is not palindrome
string is not palindrome
string is palindrome

### 3.Convert a string to uppercase.

In [3]:
# enter string:
s="akanksha"

# convert string to uppercase using upper:
s.upper()

'AKANKSHA'

### 4.Convert a string to lowercase.

In [4]:
# enter string:
s = "AKANKSHA BHAGAT"

# convert string to lowercase using lower:
s.lower()

'akanksha bhagat'

### 5.Count the number of vowels in a string.

In [5]:
string = " how are you"
vowels = "aeiou"
count = sum(string.count(vowel) for vowel in vowels)
print(count)

5

### 6. count the number of consonants in a string.

In [6]:
string = "this is my second assignment"
consonants = "bcdfghjklmnpqrstvwxyz"
count = sum(string.count(consonant)for consonant in consonants)
print(count)

17

### 7. Remove all whitespaces from a string.

In [7]:
def remove_whitespace(s):
    s = "". join(s.split(" "))
    return s
s = " h e l l o "
print("original string :", s)
print("output string :", remove_whitespace(s))

original string :  h e l l o
output string : hello

### 8.Find the length of a string without using the 'len()' function.

In [8]:
my_string = "student"
length = 0
for char in my_string:
    length += 1
    print(length)

1
2
3
4
5
6
7

### 9.Check if a string contains a specific word.

In [9]:
your_string = "i love data science"
specific_word = "love"
if specific_word in your_string:
     print("the string contain a specific word")
else:
     print("the string not contain a specific word")

the string contain a specific word

### 10.Replace a word in a string with another word.

In [10]:
a = " i like cake "
b = a.replace("cake","chocolate")
print(b)

 i like chocolate

### 11.Count the occurrences of a word in a string

In [11]:
s1 = "yere yere pavsa"
s1.count("yere")

2

### 12.Find the first occurrence of a word in a string.

In [12]:
my_string = "hello,hello welcome to my world"
x = my_string.find("hello")
print(x)

0

### 13.Find the last occurrence of a word in a string.

In [13]:
my_string = "hello, hello welcome to my world."
x = my_string.rfind("hello")
print(x)

7

### 14.Split a string into a list of words.

In [14]:
a = "hello, how are you"
x = a.split()
print(x)

['hello,', 'how', 'are', 'you']

### 15.Join a list of words into a string.

In [15]:
a = 'hello,', 'what', 'is','your', 'name'

print(' '.join(a))

hello, what is your name

### 16.Convert a string where words are separated by spaces to one where words are separated by underscores.

In [16]:
space_string =  "hello, good morning"
underscore_string = space_string.replace(" ","_")
print(underscore_string)

hello,_good_morning

### 17.Check if a string starts with a specific word or phrase.

In [17]:
my_string = "hello, my name is akanksha"
specific_word = "hello"
if my_string.startswith(specific_word):
    print(f"the string startswith (specific_word).")
else:
     print(f"the string does not start with(specific_word).")

the string startswith (specific_word).

### 18.Check if a string ends with a specific word or phrase.

In [18]:
my_string = "hello, my name is gudiya"
specific_word = "gudiya"
if my_string.endswith(specific_word):
    print("the string endwith (specific_word)")
else:
     print("the string does not ends with (specific_word)")

the string endwith (specific_word)

### 19.Converts a string to title case (eg,"hello world" to "Hello World")

In [19]:
a1 = "my name is akanksha"
a1.title()

'My Name Is Akanksha'

### 20. Find the longest word in a string.

In [20]:
string = input("Enter a string: ")
word_list = string.split()
longest_word = max(word_list,key = len)
print("longest word:",longest_word)

Enter a string:  python is a programming language

longest word: programming

### 21.Find the shortest word in a string.

In [21]:
string = input("Enter a string: ")
word_list = string.split()
shortest_word = min(word_list,key = len)
print("shortest word :",shortest_word)

Enter a string:  python is a programming language

shortest word : a

### 22.Reverse the order of words in a string.

In [22]:
string = "python is awesome"
reversed_string = string[::-1]
print(reversed_string)

emosewa si nohtyp

### 23. Check if a string is alphanumeric

In [23]:
def is_alphanumric(text):
    return text.isalnum()
text = "akanksha12"
result = is_alphanumric(text)
if result:
    print("the string is alphanumric.")
else:
     print("the string is not alphanumric.")

the string is alphanumric.

### 24.Extract all digits from a string.

In [24]:
string = "akanksha122"
for i in string:
    if (i.isdigit()):
        print(i,end = " ")

1 2 2

### 25.Extract all alphabets from a string.

In [25]:
string = "akanksha@123"
res = " "
for char in string:
    if char.isalpha():
        res += char
        print(res)

 a
 ak
 aka
 akan
 akank
 akanks
 akanksh
 akanksha

### 26.Count the number of uppercase letters in a string.

In [26]:
string = input("enter a string : ")
count=0
for i in string :
    if(i.isupper()):
        count=count+1
        print("the number of uupercase LETTERS is ")
        print(count)

enter a string :  AkaNkSha

the number of uupercase LETTERS is
1
the number of uupercase LETTERS is
2
the number of uupercase LETTERS is
3

### 27.Count the number of lowercase letters in a string.

In [27]:
string = input("enter a string:")
count = 0
for i in string:
    if(i.islower()):
        count=count+1
        print("the number of lowercase letters is ")
        print(count)

enter a string: AkAnkSHa

the number of lowercase letters is
1
the number of lowercase letters is
2
the number of lowercase letters is
3
the number of lowercase letters is
4

### 28.Swap the case of each charecter in  a string.

In [28]:
string = "HeLLo My naME is AKANKsha"
x = string.swapcase()
print(x)

hEllO mY NAme IS akankSHA

### 29. Remove a specific word from a string.

In [29]:
my_string = "a for apple and b for ball"
specific_word = "apple"
new_string = my_string.replace(specific_word, " ")
print(new_string)

a for   and b for ball

### 30.Check if a string is a valid email address.

In [30]:
import re
def validate_email(email):
    if re.match(r"[^@]+@[^@]+\.[^@]+",email):
        return True
    return False
email = "example@domain.com"
if validate_email(email):
    print("valid email address")
    
else:
        print("invalid email address")

valid email address

### 31.Extract the username from an email address string.

In [31]:
email = "akanksha@email.com"
username = email.split('@')[0]
print(username)

akanksha

### 32.Extract the domain name from an email address string

In [32]:
email = "akanksha@email.com"
domain = email.split('@')[1]
print(domain)

email.com

### 33.Replace multiple spaces in a string with a single space.

In [33]:
text = " may    god   give   you   that   is   best   for   you"
cleaned_text = ' '.join(text.split())
print(cleaned_text)

may god give you that is best for you

### 34.Check if a string is a valid URL

In [34]:
from urllib.parse import urlparse
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
url1 = "https://www.akanksha.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)
print(result2)

True
False

### 35.Extract the protocol(http or https) from a URL string.

In [35]:
from urllib.parse import urlparse

url = "https://www.pwskills.com"
parsed_url = urlparse(url)

protocol = parsed_url.scheme
print(protocol)

https

### 36.Find the frequency of each character in a string.

In [36]:
string = "wellcome"
char_freq = {}
for char in string:
    if char in char_freq:
        char_freq[char] += 1
    else:
        char_freq[char] = 1
        for char , freq in char_freq.items():
            print(f"'{char}':{freq}")

'w':1
'w':1
'e':1
'w':1
'e':1
'l':1
'w':1
'e':1
'l':2
'c':1
'w':1
'e':1
'l':2
'c':1
'o':1
'w':1
'e':1
'l':2
'c':1
'o':1
'm':1

### 37.Remove all punctuation from a string.

In [37]:
import string 
text = "hello, good morning!"
translator = str.maketrans('','', string.punctuation)
cleaned_text = text.translate(translator)
print(cleaned_text)

hello good morning

### 38.Check if a string contains only digits.

In [38]:
string = "12092000"
if string.isdigit():
    print("string contains only digits")
    
else:
     print("string does not contains digits")

string contains only digits

### 39.Check if a string contains only alphabets.

In [39]:
string = "akanksha"
if string.isalpha():
    print("string contains only alphabets")
    
else:
    print("string does not contains alphabets")

string contains only alphabets

### 40.Convert  a string to a list of charecter.

In [40]:
input_str = "good"
char_list = list(input_str)
print(char_list)

['g', 'o', 'o', 'd']

### 41.Check if two strings are anagrams.

In [41]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" " ,"").lower()
    return sorted(str1) ==sorted(str2)
string1 = "night"
string2 = "thing"
if are_anagrams(string1,string2):
    print("the string are anagrams")
else:
     print("the string are not anagrams")

the string are anagrams

### 44.Find the most frequent word in a string.

In [42]:
from collections import defaultdict
test_list = [" kgf is best  for fans","fans love kgf", "kgf is best"]
print("the original list is:" + str(test_list))
temp = defaultdict(int)
for sub in test_list:
    for wrd in sub.split():
        temp[wrd] += 1
        res = max(temp, key = temp.get)
        print("word with maximum frequency : " + str(res))

the original list is:[' kgf is best  for fans', 'fans love kgf', 'kgf is best']
word with maximum frequency : kgf
word with maximum frequency : kgf
word with maximum frequency : kgf
word with maximum frequency : kgf
word with maximum frequency : kgf
word with maximum frequency : fans
word with maximum frequency : fans
word with maximum frequency : kgf
word with maximum frequency : kgf
word with maximum frequency : kgf
word with maximum frequency : kgf

### 45.Find all unique words in a string.

In [43]:
s1 = {"hello", "hello", "hello", "im" ,"aki", "aki"}
s1

{'aki', 'hello', 'im'}

### 46.count the number of syllables in a string.

In [44]:
import re 

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiou]+', word, re.IGNORECASE)
    return len(vowel_groups)
word1 = "name"
word2 = "surname"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)

print(f"'{word1}' has {syllables1} syllables")
print(f"'{word2}' has {syllables2} syllables")

'name' has 2 syllables
'surname' has 3 syllables

### 47.Check if a string contains any special charecters.

In [45]:
string = "aki@#ab$%"
if string.isascii():
    print("string contains special charecters")
else:
    print("string does not contains special charecters")

string contains special charecters

### 48.Remove the nth word from a string.

In [46]:
test_str = "kgf is for fans"
print("the original string is:" + test_str)
n = 3
res = test_str.split(' ')[n-1]
print("the nth word in string:" + res)

the original string is:kgf is for fans
the nth word in string:for

### 49.Insert a word at the nth position in a string.

In [47]:
 def insert_word_at_nth_position(input_string, n,word_to_insert):
        first_part = input_string[:n]
        second_part = input_string[n:]
        
        result_string = first_part + word_to_insert + second_part
        return result_string
    
input_string ="is a day one"
n = 3
word_to_insert = "new"
    
result = insert_word_at_nth_position(input_string, n, word_to_insert)
print(result)

is newa day one

### 50. Convert a CSV string to a list of list

In [48]:
my_string = 'akanksha,bhagat,com'
my_list = my_string.split(',')
print(my_list)

['akanksha', 'bhagat', 'com']

# LIST BASED PRACTICE PROBLEM:

### 1. create a list with integers from 1 to 10.

In [49]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2.Find the lenght of a list without using the 'len()' function.

In [50]:
l1 = [1, True, 3, 8.2, 0]
length = 0
for char in l1:
    length += 1
    print(length)

1
2
3
4
5

### 3.Append an element to the end of a list.

In [51]:
my_list = [1,2,3,4]
append_element = 5
my_list.append(append_element)

print("updated list:", my_list)

updated list: [1, 2, 3, 4, 5]

### 4. Insert an element at a specific index in a list.

In [52]:
my_list = [1,2,3,4,5,6]

my_list.insert(2,"aki")

print("updated list:", my_list)

updated list: [1, 2, 'aki', 3, 4, 5, 6]

### 5.Remove an element from a list by its value.

In [53]:
my_list = [ 1, 2, "city", "kite", 22, 220]

my_list.remove('kite')

print("update list :", my_list)

update list : [1, 2, 'city', 22, 220]

### 6.Remove an element from a list by its index.

In [54]:
my_list = [1,2,3,4,5]

index_to_remove = 3

removed_element = my_list.pop(index_to_remove)

print("updated list :", my_list)

print("remove element :", removed_element)

updated list : [1, 2, 3, 5]
remove element : 4

### 7.Check if an element exists in a list.

In [55]:
my_list = [1,2,3,'apple',5,"jam"]

element_to_check = "jam"
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list")
    
else:
    print(f"{element_to_check} does not exist in the list")

jam exists in the list

### 8.Find the index of the first occurrence of an element in a list

In [56]:
my_list = [ "apple", 'ball' , 1, 2, 5]

element_to_find = "ball"

index = my_list.index(element_to_find)

print(f" the index of {element_to_find} is {index}")

 the index of ball is 1

### 9.Count the occurrences of an element in a list.

In [57]:
my_list = [1,2,3,4,2,2,6,8,5,2,0,8,1,2]

element_to_count = 2

count = my_list.count(element_to_count)

print(f" the element {element_to_count} occurs {count} times in the list")

 the element 2 occurs 5 times in the list

### 10.Reverse the order of elements in a list.

In [58]:
l1 = ['cook', 'yummy' , 20 , 30 ,100]
l1[::-1]

[100, 30, 20, 'yummy', 'cook']

### 11.Sort a list in ascending order.

In [59]:
my_list = ["apple"," ball" ,"dog" ,"zero"]

my_list.sort()

print("sorted list in ascending order:", my_list)

sorted list in ascending order: [' ball', 'apple', 'dog', 'zero']

### 12. Sort a list in a descending order.

In [60]:
my_list = ["apple"," ball" ,"dog" ,"zero"]

my_list.sort(reverse=True)

print("sorted list in descending order:", my_list)

sorted list in descending order: ['zero', 'dog', 'apple', ' ball']

### 13. Create a list of even numbers from 1 to 20.

In [61]:
even_numbers = [x for x in range (2 ,21, 2)]

print("list of even numbers:", even_numbers)

list of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [62]:
odd_numbers = [x for x in range (1 ,21,2)]

print("list of odd numbers:", odd_numbers)

list of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15.Find the sum of all elements in a list.

In [63]:
my_list = [1,2,3,4,5]

total_sum = sum(my_list)

print("sum of element:" ,total_sum)

sum of element: 15

### 16.Find the maximum value in a list.

In [64]:
my_list = [1,2,3,4,45,5]

maximum_value = max(my_list)

print("maximum value in a list :", maximum_value)

maximum value in a list : 45

### 17.Find the minimum value in a list.

In [65]:
my_list = [ 1,2,3,4,5,60,]

minimum_value = min(my_list)

print("minimum value in a list :", minimum_value)

minimum value in a list : 1

### 18.Create a list of squares of numbers from 1 to 10.

In [69]:
l1 = []

for i in range(1,11):
    l1.append(i*i)
    
    print("list of squares of numbers from 1 to 10:")
print(l1)

list of squares of numbers from 1 to 10:
list of squares of numbers from 1 to 10:
list of squares of numbers from 1 to 10:
list of squares of numbers from 1 to 10:
list of squares of numbers from 1 to 10:
list of squares of numbers from 1 to 10:
list of squares of numbers from 1 to 10:
list of squares of numbers from 1 to 10:
list of squares of numbers from 1 to 10:
list of squares of numbers from 1 to 10:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19.Create a list of random numbers.

In [70]:
import random

random_integers = [random.randint(1,30) for _ in range(10)]

print("list of random integers:", random_integers)

list of random integers: [12, 25, 1, 29, 24, 27, 19, 7, 2, 7]

### 20.Remove duplicates from a list.

In [71]:
my_list = [1,2,3,2,4,5,2,6,7,7,2,9]

unique_list = list(set(my_list))
                   

print("remove duplicates from a list:",unique_list)

remove duplicates from a list: [1, 2, 3, 4, 5, 6, 7, 9]

### 21.Find the common elements betweens two lists.

In [72]:
list1 = [1,2,3,4,5,9,10]

list2 = [8,6,2,10,1,5,11]

set1 = set(list1)
set2 = set(list2)

common_elements = set1.intersection(set2)

common_elements_list = list(common_elements)

print(common_elements_list)

[1, 2, 10, 5]

### 22.Find the difference betweens two list.

In [73]:
list1 = [1,2,3,4,5,60]

list2 = [1,2,3,4,510,]

set1 = set(list1)
set2 = set(list2)

difference = set1.difference(set2)

difference_list = list(difference)

print(difference_list)

[60, 5]

### 23. Merge two lists.

In [74]:
my_list = [ "aki", 4, 'job' , 3, 5 ]
new_list = ['bhagat' , 12, 'life', 2000]

my_list + new_list

print("merge two list:",my_list + new_list )

merge two list: ['aki', 4, 'job', 3, 5, 'bhagat', 12, 'life', 2000]

### 24.Multiply all elements in a list by 2.

In [75]:
my_list = [2, 3, 5 ,10 ] 
new_list =[ x*2 for x in my_list]
print("multiply all elements in a list by 2:", new_list)

multiply all elements in a list by 2: [4, 6, 10, 20]

### 25 Filter out all even numbers from a list.

In [76]:
original_list = [ 1 ,2 ,3,4,5,6,7,8,9,10]
filtered_list = [x for x in original_list if x % 2 != 0]

print("odd numbers:", filtered_list)

# first i take original string has values 1 to 10
# then filtered list ,
# when we filter list its give odd numbers from list.

odd numbers: [1, 3, 5, 7, 9]

### 26.Convert a list of strings to a list of integers.

In [77]:
string_list = ["1" ,"2" ,"3","4","5"]

integer_list = [int(x) for x in string_list]

print("list of integers:", integer_list)

list of integers: [1, 2, 3, 4, 5]

### 27.Convert a list of integers to a list of strings.

In [78]:
integer_list = [1,2,3,4,5]

string_list = [str(x) for x in integer_list]

print("list of string:", string_list)

list of string: ['1', '2', '3', '4', '5']

### 28.Flatten a nested list.

In [79]:
my_list = [[1], [2,4], [4,5,6],[7,8,9]]
flat_list =[]
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)
        print(flat_list)

[1]
[1, 2]
[1, 2, 4]
[1, 2, 4, 4]
[1, 2, 4, 4, 5]
[1, 2, 4, 4, 5, 6]
[1, 2, 4, 4, 5, 6, 7]
[1, 2, 4, 4, 5, 6, 7, 8]
[1, 2, 4, 4, 5, 6, 7, 8, 9]

### 29.Create a list of the first 10 fibonacci numbers.

In [80]:
fibonacci_list = [0,1]
for i in range(2,10):
    next_fibonacci = fibonacci_list[i-1] + fibonacci_list[i-2]
    fibonacci_list.append(next_fibonacci)
    print(fibonacci_list)

[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30.Check if a list is sorted.

In [ ]:
my_list = [1,2,3,4,5]
print("original list : " + str(my_list))
flag = 0
i = 1
while i < len(my_list):
    if (my_list[i]< my_list[i-1]):
        flage = 1
        i += 1
        print("yes,list is sorted")

original list : [1, 2, 3, 4, 5]

In [ ]:
## NOTE : IN ABOVE QUESTION IM DOT PRINTING THE SORTED LIST BECOUSE WHENEVER I TRY TO DO THAT ITS PRINTED INFINITE TIMES, THAT WHY I GIVEN UR ANSWER BUT NOT PRINTED

### 31.Rotate a list to the left by 'n' positions.

In [11]:
def rotate_left(lst, n):
    n = n % len (lst)
    rotated = lst[n:] + lst[:n] 
    return rotated
my_list = [ 1,2,3,4,5]
n = 3
rotated_list = rotate_left(my_list,n)
print("rotated list :", rotated_list)

rotated list : [4, 5, 1, 2, 3]

### 32.Rotate a list to the right by 'n' positions.

In [15]:
def rotate_right(lst, n):
    n = n % len (lst)
    rotated = lst[-n:] + lst[:-n] 
    return rotated
my_list = [ 1,2,3,4,5]
n = 3
rotated_list = rotate_right(my_list,n)
print("rotated list :", rotated_list)

rotated list : [3, 4, 5, 1, 2]

### 33.Create a list of prime numbers up to 50.

In [14]:
for i in range(2,51):
    for j in range(2,51):
        if i%j == 0:
            break
    if i == j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,

### 34.Split a list into chunks of size 'n'.

In [15]:
my_list = list(range(10))
chunk_size = 2
while my_list:
    chunk, my_list = my_list[:chunk_size],my_list[chunk_size:]
    print(chunk)

[0, 1]
[2, 3]
[4, 5]
[6, 7]
[8, 9]

### 35.Find the second largest number in a list.

In [20]:
def secondmax (arr):
    sublist = [x for x in arr if x < max(arr)]
    return max(sublist)
if __name__ == '__main__' :
    arr = [1,5,7,10,20]
    print(secondmax(arr))

10

### 36.Replace every element in a list with its square.

In [6]:
def square_list(list1):
    for i in list1:
        list1[list1.index(i)] = i**2
    print(list1)
square_list([1,2,3])

[1, 4, 9]

### 37.Convert a list to a dictionary where list elements become keys and their indices become values.

In [7]:
my_list = ['apple' ,'ball' ,'cat' ,'dog','egg']

my_dict = {element:index for index, element in enumerate(my_list)}
print("converted dictionary :", my_dict)

converted dictionary : {'apple': 0, 'ball': 1, 'cat': 2, 'dog': 3, 'egg': 4}

### 38.Shuffle the elements of a list randomly.

In [10]:
import random
my_list = [1,2,3,4,5,6,7]
random.shuffle(my_list)
print("shuffled list :", my_list)

shuffled list : [6, 5, 2, 3, 1, 4, 7]

### 39.Create a list of the first 10 factorial numbers.

In [19]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)
factorial_numbers = [factorial(i) for i in range(10)]
print("list of the first 10 factorial numbers:",factorial_numbers)

list of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### 40.Check if two lists have at least one element in common.

In [28]:
def has_common_element(list1,list2):
    for item in list1:
        if item in list2:
            return True
        return False
list1 = [1,2,3,45]
list2 = [5,6,7,8,9]
if has_common_element(list1, list2):
    print("the lists have at least one common element")
else:
    print("the list do not have any common element")

the list do not have any common element

### 41.Remove all elements from a list.

In [34]:
my_list = [1,2,3,4,5,6,7]
my_list.clear()
print("remove all elements from list:", my_list)

remove all elements from list: []

### 42.Replace negative numbers in a list with 0.

In [37]:
my_list = [1,-2,-3,-4,-5]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("list after replacing negative numbers with 0 :", my_list)

list after replacing negative numbers with 0 : [1, 0, 0, 0, 0]

### 43.Convert a string into a list of words.

In [1]:
my_string = "im coverting string into a list of words"
new_list = my_string.split()

print("string into list of words:", new_list)

string into list of words: ['im', 'coverting', 'string', 'into', 'a', 'list', 'of', 'words']

### 44.Convert a list of words into  a string.

In [6]:
list_of_words = ['im' , 'converting', 'list', 'of','words','into','a','string']
new_string = " ".join(list_of_words)

print("list of words into a string:",new_string)

list of words into a string: im converting list of words into a string

### 45.Create a list of the first 'n' powers of 2.

In [12]:
print("enter the total number of terms: ")
total = int(input())

for i in range (total):
    print(" 2 raised to the power",i ,"is",2 ** i)

enter the total number of terms:

 7

 2 raised to the power 0 is 1
 2 raised to the power 1 is 2
 2 raised to the power 2 is 4
 2 raised to the power 3 is 8
 2 raised to the power 4 is 16
 2 raised to the power 5 is 32
 2 raised to the power 6 is 64

### 46 .Find the longest string in a list of strings.

In [18]:
my_list = ['aki','akanksha', 'bhagat','chakuli']
print("the original list:" + str(my_list))
res = max (my_list,key = len)

print("longest string in a list of string is :"+ res)

the original list:['aki', 'akanksha', 'bhagat', 'chakuli']
longest string in a list of string is :akanksha

### 47.Find the shortest string in a list of strings.

In [22]:
my_list = ['aki','akanksha', 'bhagat','chakuli']
print("the original list:" + str(my_list))
res = min (my_list,key = len)

print("shortest string in a list of string is :"+ res)

the original list:['aki', 'akanksha', 'bhagat', 'chakuli']
shortest string in a list of string is :aki

### 48. Create a list of the first 'n' triangular numbers.

In [25]:
n = 10
triangle_nums = []
tri_num = 0
for i in range (1, n+1):
    tri_num += i
    triangle_nums.append(tri_num)
print(triangle_nums)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

### 49 .Check if a list contains another list as a subsequence.

In [40]:
my_list = [ 9,4,5,8,10]
ur_list = [10,5]
print("original list:" + str(my_list))
print("original subsequence list : " + str(ur_list))
flage = 0
if(set(ur_list).issubset(set(my_list))):
    flage = 1
if (flage):
        
        print("yes , list contain another list as a subsequence")
else:
        print("no, list does not contain list as a subsequence")

original list:[9, 4, 5, 8, 10]
original subsequence list : [10, 5]
yes , list contain another list as a subsequence

### 50. Swap two elements in a list by their indices.

In [41]:
my_list = [1,2,3,4,5,6,7]
index1 = 2
index2 = 3

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print(" list after swapping elements:",my_list)

 list after swapping elements: [1, 2, 4, 3, 5, 6, 7]

## TUPLE BASED PRACTICE PROBLEM:

### 1.Create a tuple with integers from 1 to 5.

In [5]:
my_tuple = ( 1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

### 2.Access the third element of a tuple.

In [6]:
my_tuple = (1,2,3,4,5)
third_element =my_tuple[2]
print(" third element of tuple:",third_element)

 third element of tuple: 3

### 3. Find the length of a tuple without using the len() function.

In [3]:
my_tuple = (1,2,3,4,5,6,7)
count = 0
for _ in my_tuple:
    count += 1
    print("the length of the tuple:",count)

the length of the tuple: 1
the length of the tuple: 2
the length of the tuple: 3
the length of the tuple: 4
the length of the tuple: 5
the length of the tuple: 6
the length of the tuple: 7

### 4.Count the occurrences of an element in tuple.

In [5]:
my_tuple = (1,2,3,4,3,5,6,7,3)
count = my_tuple.count(3)

print("occurrences of element 3 :",count)

occurrences of element 3 : 3

### 5.Find the index of the first occurence of an element in a tuple.

In [7]:
my_tuple = ('aki' , 12,30, 50,2)
element_to_find = 12
index = my_tuple.index(element_to_find)

print(f" the index of {element_to_find} is {index}")

 the index of 12 is 1

### 6.Check if an element exists in a tuple.

In [16]:
my_tuple  = (1,2,3,4,5,6,7)
exist_element = 2
if exist_element in my_tuple:
    print(f"{exist_element} exists in tuple")
else:
    print(f"{exixt_element}does not exist in tuple")

2 exists in tuple

### 7.Convert a tuple to a list.

In [2]:
my_tuple = ('aki' , 'cake','name', 16, 2, 2017)
list(my_tuple)

['aki', 'cake', 'name', 16, 2, 2017]

### 8.Convert list to a tuple.

In [3]:
my_list = [ 1,2,3,4,5]
tuple(my_list)

(1, 2, 3, 4, 5)

### 9.Unpack the elements of a tuple into variables.

In [4]:
my_tuple = (1,2,3)
variable1, variable2, variable3 = my_tuple

print("variable1:",variable1)
print("variable2:" , variable2)
print("variable3:", variable3)

variable1: 1
variable2: 2
variable3: 3

### 10.Create a tuple of even numbers from 1 to 10.

In [5]:
even_numbers = [num for num in range(2,11,2)]
even_numbers = tuple(even_numbers)

print("tuple of even numbers:", even_numbers)

tuple of even numbers: (2, 4, 6, 8, 10)

### 11.Create a tuple of odd numbers from 1 to 10

In [6]:
start, end = 1,11
for num in range (start,end + 1):
    if num % 2 != 0:
        print(num,end = " ")

1 3 5 7 9 11

### 12.Concatenate two tuples.

In [7]:
tuple1 = ( 1,2,3,4,5,6)
tuple2 = ('aki',70, 55)

## concatination:
tuple1 + tuple2

(1, 2, 3, 4, 5, 6, 'aki', 70, 55)

### 13.Repeat a tuple three times.

In [8]:
tuple1 = (1,2,3,4,5)
# multiply:
tuple1*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### 14.Check if a tuple is empty.

In [9]:
empty_tuple1 = ()

if not empty_tuple1:
    print("the tuple is empty")
else:
    print("the tuple is not empty")

the tuple is empty

### 15.Create a nested tuple.

In [10]:
nested_tuple = ((1,2,5),('kaju','badam','pista'), (3.2,6.5,1))

print(nested_tuple[0])
print(nested_tuple[1])
print(nested_tuple[2])

(1, 2, 5)
('kaju', 'badam', 'pista')
(3.2, 6.5, 1)

### 16 Access the first element of a nested tuple.

In [11]:
nested_tuple = ((1,2,5),('kaju','badam','pista'), (3.2,6.5, 1))
first_element_nested_tuple = nested_tuple[0]

print(" first element of nested tuple:",first_element_nested_tuple)

 first element of nested tuple: (1, 2, 5)

### 17.Create a tuple with a single element.

In [12]:
my_tuple = 12
print("print a single element:", my_tuple)

print a single element: 12

### 18 Compare two tuples.

In [13]:
first_tuple = ( 5,6,7)
second_tuple = (8,9,2)
if first_tuple== second_tuple:
    print("first_tuple is equal to second_tuple")
else:
    print("first_tuple is not equal to second_tuple")

first_tuple is not equal to second_tuple

### 19.delete a tuple.

In [14]:
first_tuple  = (1,2,3,12)
del fisrt_tuple
print(first_tuple)

# whenever i try to access deleted element , its gives name error,because tuple no longer exist

NameError: name 'fisrt_tuple' is not defined

### 20.  Slice a tuple.

In [15]:
tuple1 = (1,2,3,4,5,6,7,8)
slice_tuple = tuple1[3:7]
print("slice a tuple :", slice_tuple)

slice a tuple : (4, 5, 6, 7)

### 21.Find the maximun value in a tuple.

In [16]:
tuple1 = (1,2,5,8,10,50,4)
max_tuple = max(tuple1)
print("maximum value in a tuple :",max_tuple)

maximum value in a tuple : 50

### 22.Find the minimum value in a tuple.

In [17]:
tuple1 = (1,2,5,8,10,50,4)
min_tuple = min(tuple1)
print("minimum value in a tuple :",min_tuple)

minimum value in a tuple : 1

### 23.Convert a string to a tuple of characters.

In [18]:
my_str = "akanksha"
tuple_of_char = tuple(my_str)
print("string to tuple of charecter:", tuple_of_char)

string to tuple of charecter: ('a', 'k', 'a', 'n', 'k', 's', 'h', 'a')

### 24.Convert a tuple of charecters to a string.

In [19]:
tuple_of_char = ('a','k','a','n','k','s','h','a')
str_tuple= ''.join(tuple_of_char)

print("tuple of charecter to string:", str_tuple)

tuple of charecter to string: akanksha

### 25.Create a tuple from multiple data types.

In [20]:
multy_type_tuple = ('aki', 12, 9.5, 'dj')
print(multy_type_tuple)

('aki', 12, 9.5, 'dj')

### 26.Check if two tuples are identical.

In [21]:
tuple1 = (5,6,7)
tuple2 = (5,6,7)

if tuple1 == tuple2:
    print("YES,its identical")
else: 
    print("NO, its not identical")

YES,its identical

### 27 Sort the elements of a tuple.

In [22]:
my_tuple = (9,4,8,2,3,1,10)

sorted_tuple = tuple(sorted(my_tuple))

print("sort elements of tuple:", sorted_tuple)

sort elements of tuple: (1, 2, 3, 4, 8, 9, 10)

### 28.Convert a tuple of integers to a tuple of string.

In [23]:
tuple_of_integers = (12,13,14,15,16,17)
tuple_of_string = tuple(str(i) for i in tuple_of_integers)

print("tuple of int to tuple of string:", tuple_of_string)

tuple of int to tuple of string: ('12', '13', '14', '15', '16', '17')

### 29.Convert a tuple  of strings to a tuple of integers.

In [24]:
tuple_of_string = ('12','13','14','15','16','17')
tuple_of_integers = tuple(int(i) for i in tuple_of_string)

print("tuple of string to tuple of integers:", tuple_of_integer

tuple of string to tuple of integers: (12, 13, 14, 15, 16, 17)

### 30.merge two tuples.

In [26]:
tuple1 = ('aki','cook')
tuple2 = (16,18,17)

merge_two_tuple = tuple1 + tuple2

print("merge_two_tuple:", merge_two_tuple)

merge_two_tuple: ('aki', 'cook', 16, 18, 17)

### 31. Flatten a nested tuple.

In [27]:
my_list = ((1,2),(2,4),(10,11))
flat_list = []
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)
        print(flat_list)

[1]
[1, 2]
[1, 2, 2]
[1, 2, 2, 4]
[1, 2, 2, 4, 10]
[1, 2, 2, 4, 10, 11]

### 32.Create a tuple of the first 5 prime numbers.

In [30]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)

print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

### 33.Check if a tuple is a palindrome.

In [32]:
def is_palindrome_tuple(my_tuple):
    return my_tuple == my_tuple[::-1]
my_tuple = (12,13,14,13,12)

if is_palindrome_tuple(my_tuple):
    print("tuple is palindrome")
else:
    print("tuple is not palindrome")

tuple is palindrome

### 34 .Create a tuple of squares of numbers from 1 to 5.

In [4]:
squares_tuple = (1**2,2**2,3**2,4**2,5**2)
print(squares_tuple)

(1, 4, 9, 16, 25)

### 35 Filter out all even numbers from a tuple.

In [19]:
original_tuple = (1,2,3,4,5,6,7,8,9,10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 == 0)

even_numbers_tuple = tuple(filtered_tuple)
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

### 36. multiply all elements in tuple by 2.

In [25]:
my_tuple = (1,2,3,4,5)
multiply_tuple = (x * 2 for x in my_tuple)
multiply_tuple = tuple(multiply_tuple)

print(multiply_tuple)

(2, 4, 6, 8, 10)

### 37.Create a tuple of random numbers.

In [26]:
import random
random_tuple = tuple(random.randint(1,30) for _ in range (10))

print("random tuple:", random_tuple)

random tuple: (28, 2, 12, 7, 19, 8, 18, 16, 9, 20)

### 38.Check if a tuple is sorted.

In [30]:
t = (1,2,3,4,5)
print(t == tuple(sorted(t)))

True

### 39.Rotate a tuple to the left by 'n' positions.

In [47]:
my_tuple = (1, 2, 3, 4, 5)
n_positions = 3
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

### 40 .rotate a tuple to the right by 'n' positions.

In [48]:
my_tuple = (1, 2, 3, 4, 5)
n_positions = 3
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

### 41.Create a tuple of the first 5 fibonacci numbers.

In [53]:
def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n: 
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number)  
    return tuple(fibonacci) 

fibonacci_tuple = generate_fibonacci(5)


print(fibonacci_tuple)

(0, 1, 1, 2, 3)

### 42 Create tuple from user input.

In [1]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas:  b, h, a, g, a , t,

User input tuple: ('b', ' h', ' a', ' g', ' a ', ' t', '')

### 43.Swap two elements in a tuple.

In [5]:
# Create a tuple
my_tuple = (4,8,2,6,1)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 2
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (4, 2, 8, 6, 1)

### 44.Reverse the elements of a tuple.

In [8]:
tuple1 = (1,2,3,4,5,6,7)
reversed_tuple1 = tuple1[::-1]
print("reversed element of tuple:",reversed_tuple1)

reversed element of tuple: (7, 6, 5, 4, 3, 2, 1)

### 45. Create a tuple of the first 'n' powers of 2.

In [12]:
n = 10
powers_of_2_tuple = tuple(2 ** i for i in range(n))

print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 10 powers of 2: (1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

### 46.Find the longest string in a tuple of string.

In [14]:
# Create a tuple of strings
string_tuple = ("apple","bat","cow","duck","elephant")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: elephant

### 47.Find the shortest string in a tuple of string.

In [15]:
# Create a tuple of strings
string_tuple = ("apple","bat","cow","duck","elephant")

# Find the longest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the longest string
print("shortestt string:", shortest_string)

shortestt string: bat

### 48.Create a tuple of the first 'n' triangular numbers.

In [16]:
n = 10
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 10 triangular numbers: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

### 49.Check if a tuple contains anaother tuple as a subsequence.

In [28]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (12,13,14,15,16,17,18)

sub_tuple = (13,14, 15)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

### 50.Create a tuple of alternating 1s and 0s of length 'n'.

In [30]:
n = 5
alternating_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0)

## SET BASED PRACTICE PROBLEM:

### 1.Create a set with integers from 1 to 5.

In [7]:
int_set = {1,2,3,4,5}

print("int_set:", int_set)

int_set: {1, 2, 3, 4, 5}

### 2.Add an element to a set.

In [22]:
set1 = {"aplle","banana","cherry"}
set1.add("kiwi")
print(set1)

{'kiwi', 'cherry', 'banana', 'aplle'}

### 3.Remove an element from a set.

In [24]:
set1 = {"apple","banana","cherry","kiwi"}
set1.remove("kiwi")
print(set1)

{'cherry', 'banana', 'apple'}

### 4.Check if an element exists in a set

In [30]:
set1 = {"apple","banana","cherry","kiwi"}
if "cherry" in  set1:
    print("yes' ,'cherry' is in set1")
else:
    print("no', 'cherry' is not in set1")

yes' ,'cherry' is in set1

### 5.Find the length of a set without using the 'len()' function.

In [36]:
set1 = {1,2,3,4,5}
count = 0
for i in set1:
    count+=1
print("length of set:", count)

length of set: 5

### 6.Clear all elements from a set.

In [37]:
set1 = {1,2,3,4,5,6}
set1.clear()
print("set after clearing:",set1)

set after clearing: set()

### 7.Create a set  of even numbers from 1 to 10.

In [39]:
even_numbers = {x for x in range(1,11) if x % 2 ==0 }
print(even_numbers)

{2, 4, 6, 8, 10}

### 8 Create a set of odd numbers from 1 to 10.

In [5]:
odd_numbers = {x for x in range(1,11) if x % 2 !=0 }
print(odd_numbers)

{1, 3, 5, 7, 9}

### 9.Find the union of two sets.

In [6]:
set1 = {1,2,3}
set2 = {4,5,6,7}
union = set1.union(set2)
print("union of two sets:",union)

union of two sets: {1, 2, 3, 4, 5, 6, 7}

### 10. Find the  intersection of two sets.

In [10]:
set1 = {1,2,3,4}
set2 = {4,5,6,7}
intersection = set1.intersection(set2)
print("intersection of two sets:", intersection)

intersection of two sets: {4}

### 11.Find the difference between two sets.

In [13]:
set1 = {1,2,3,4}
set2 = {4,5,6,7}
difference = set1.difference(set2)
print("difference of two sets:",difference )

difference of two sets: {1, 2, 3}

### 12.Check if a set is a subset of another set.

In [17]:
set1  = {1,2,3,4}
set2 = {1,2,3,4,5,6,7}
subset = set1.issubset(set2)

print("set1 is subset of set2 :", subset)

set1 is subset of set2 : True

### 13.Check if a set is a superset of another set.

In [19]:
set1 = {1,2,3,4,5,6}
set2 = {1,2}
superset = set1.issuperset(set2)

print("set1 is superset of set2 :",superset)

set1 is superset of set2 : True

### 14.create a set from a list.

In [25]:
my_list = [1,2,3,4,5]

set(my_list)

{1, 2, 3, 4, 5}

### 15.Convert a set to a list.

In [26]:
my_set = {1,2,3,4,5}
list(my_set)

[1, 2, 3, 4, 5]

### 16.Remove a random element from a set.

In [30]:
import random 
my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)

random_element = random.choice(list(my_set))
my_set.remove(random_element)

print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 2 : {1, 3, 4, 5}

### 17.pop an element from a set.

In [29]:
my_set = {1,2,3,4,5,6}
removed_element = my_set.pop()
print(f" remove element:{removed_element}")
print(f"update set: {my_set}")

 remove element:1
update set: {2, 3, 4, 5, 6}

### 18.Check if two sets have no elements in common.

In [37]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
common_element= set1.intersection(set2)
if not common_element:
   print("two sets have no element in common")
else:
    print("two sets have common element")

two sets have common element

### 19.Find the symmetric difference between two sets.

In [38]:
set1 = {1,2,3,4}
set2 = {3,4,5,6,7}
result = set1.symmetric_difference(set2)
print(result)

{1, 2, 5, 6, 7}

### 20.Update a set with elements from another set.

In [2]:
set1 = {1, 2, 3,4,5}
set2 = {3, 4, 5,6,7,8}
set1.update(set2)
print("Updated Set 1:", set1)

Updated Set 1: {1, 2, 3, 4, 5, 6, 7, 8}

### 21.Create a set of the first 5 prime numbers.

In [7]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_set = set()
num = 2
while len(prime_set) < 5: 
    if is_prime(num):
        
        prime_set.add(num)
    num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

### 22.Check if two sets are identical.

In [10]:
set1 = {1,2,3,4}
set2 = {1,2,3,4}

if set1 == set2:
    print("two sets are identical")
else:
    print("two sest are not identical")

two sets are identical

### 23.Create a frozen set.

In [11]:
my_set = {1,2,3,4,5}
frozen_set = frozenset(my_set)

print("original set:",my_set)
print("frozen set :", frozen_set)

original set: {1, 2, 3, 4, 5}
frozen set : frozenset({1, 2, 3, 4, 5})

### 24.Check if a set is disjoint with another set.

In [15]:
set1 = {1,2,3,4}
set2 = {2,3,4,5,6}

disjoint_set = set1.isdisjoint(set2)
if  disjoint_set:
    print("set is disjoint with another set")
else:
    print("set is not disjoint with another set")

set is not disjoint with another set

### 25.Create a set of squares of numbers from 1 to 5.

In [18]:
squares_set = set()

for num in range(1, 6):
    square = num ** 2
    squares_set.add(square)

print(squares_set)

{1, 4, 9, 16, 25}

### 26.Filter out all even numbers from a set.

In [21]:
original_set = {1, 2, 3, 4, 5 , 6, 7, 8, 9,10}
even_numbers_set = set()

for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)

print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Even Numbers Set: {2, 4, 6, 8, 10}

### 27.Multiply all elements in a set by 2.

In [23]:
original_set = {1,2 ,3,4,5,6,7,8,9,10}
multiplied_set = set()

for num in original_set:
    
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)

print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Multiplied Set: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

### 28.Create a set  of random numbers.

In [26]:
import random
num_random_numbers = 7

random_number_set = set()

for _ in range(num_random_numbers):
    
    random_num = random.randint(1, 30)
    
    random_number_set.add(random_num)
    
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {5, 8, 11, 13, 26, 27, 28}

### 29.Check if a set is empty.

In [29]:
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

### 30.Create a nested set (hint: use frozenset).

In [2]:
set1 = frozenset({1,2,3,4})
set2 = frozenset({5,6,7,8})
nested_set = {set1, set2 }
print("nested set :",nested_set)

nested set : {frozenset({1, 2, 3, 4}), frozenset({8, 5, 6, 7})}

### 31 .Remove an element from a set using the discard method.

In [5]:
my_set = {1,2,3,4,5,6,7}
my_set.discard(5)
print("update set:", my_set)

update set: {1, 2, 3, 4, 6, 7}

### 32. Compare two sets.

In [13]:
set1 = {1,2,3,4,5}
set2 = {1,3,5,7,8}

print("set1 and set2 are equal",set1 == set2)
print("set1 and set2 are not equal",set1 != set2)

set1 and set2 are equal False
set1 and set2 are not equal True

### 33.Create a set from a string.

In [20]:
my_set = "bhagat"
set(my_set)

## in the set remove duplicates.

{'a', 'b', 'g', 'h', 't'}

### 34.Convert a set of strings to a set of integers.

In [9]:
string_set = {"12","13","14","15","16"}
integer_set = set()
for s in string_set:
    integer_set.add(int(s))
print("set of integers:",integer_set)

set of integers: {12, 13, 14, 15, 16}

### 35 Convert a set of integers to a set of strings.

In [10]:
set_of_integers = {12, 13, 14, 15, 16}
string_set = set()
for s in integer_set:
    string_set.add(str(s))
    print("set of string:", string_set)

set of string: {'12'}
set of string: {'13', '12'}
set of string: {'14', '13', '12'}
set of string: {'14', '13', '15', '12'}
set of string: {'15', '16', '13', '14', '12'}

### 36.Create a set from a tuple.

In [11]:
my_tuple = (1,2,3,4,5)
set(my_tuple)

{1, 2, 3, 4, 5}

### 37.convert a set to a tuple.

In [12]:
my_set = {1,2,3,4,5}
tuple(my_set)

(1, 2, 3, 4, 5)

### 38.Find the maximum value in a set.

In [13]:
my_set = {12,15,22,50,100}
maximum_value  = max(my_set)
print("the maximum value in a set:", maximum_value)

the maximum value in a set: 100

### 39.Find the minimum value in a set.

In [15]:
my_set = {12,15,22,50,100}
minimum_value = min(my_set)
print("the minimum value in a set:", minimum_value)

the minimum value in a set: 12

### 40 Create a set from user input.

In [4]:
user_set = set()
print("Enter elements for the set (type 'job to finish):")
while True:
    user_input = input("> ")  

    if user_input.lower() == 'job':
        break  
    user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'job to finish):

>  python , java , job
>  java
>  job

Final set: {'java', 'python , java , job'}

### 41.check if the intersection of two sets is empty.

In [3]:
set1 = {1,2,3,4}
set2 = {5,6,7,8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is empty.

### 42.Create a set of the first 5 fibonacci numbers.

In [3]:
def generate_fibonacci(n):
    fibonacci_set = set()
    a,b = 0,1
    for _ in range(n):
        fibonacci_set.add(a)
        a,b = b,a+b
    return fibonacci_set
first_5_fibonacci = generate_fibonacci(6)
print("a set of the first 5 fibonacci numbers:",first_5_fibonacci)

a set of the first 5 fibonacci numbers: {0, 1, 2, 3, 5}

### 43.Remove duplicates from a list using sets.

In [4]:
list1 = [1,2,3,1,2,4,5,6,4,5,7,8,9,7,8]
new_list = list(set(list1))
print("remove duplicates from list:",new_list)

remove duplicates from list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

### 44 Check  if two sets have the same elements, regardless of their count.

In [2]:
set1 = {1,2,3,4}
set2 = {5,6,7}
if set1 == set2:
    print("set1 and set2 have the same element")
else:
    print("set1 and set2 do not have same element")

set1 and set2 do not have same element

### 45.Create a set of the first 'n' powers of 2.

In [3]:
n = 5
power_of_2_set = set()
for i in range (n):
    power_of_2 = 2 ** i
    power_of_2_set.add(power_of_2)
print("set of first 'n' power of 2:",power_of_2_set)

set of first 'n' power of 2: {1, 2, 4, 8, 16}

### 46 Find the common elements between a set and a list.

In [4]:
my_set = {1,2,3,4,5,6}
my_list = {2,5,4,7,8,9}
common_elements = set(my_set).intersection(my_list)
print("common element between set and list:",common_elements)

common element between set and list: {2, 4, 5}

### 47 Create a set of the first 'n' triangular numbers.

In [7]:
n = 7
triangular_numbers_set = set()
triangular_number = 0

for i in range (1, n + 1):
    triangular_number += i
    triangular_numbers_set.add(triangular_number)
print("set of first 'n' triangular numbers:",triangular_numbers_set)

set of first 'n' triangular numbers: {1, 3, 6, 10, 15, 21, 28}

### 48.check if a set contains another set as a subset.

In [10]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8}

subset = set2.issubset(set1)

if subset:
    print("set contains another set as a subset")
else:
    print("set does not contains another set as a subset")

set does not contains another set as a subset

### 49.Create a set of alternating 1s and 0s of length 'n'.

In [19]:
n = 5
alternating_set = set()
current_digit = 0

for i in range (n):
    alternating_set.add(current_digit)
    current_digit = 1 - current_digit
print("set of alternating 1s and 0s of length:",alternating_set)

set of alternating 1s and 0s of length: {0, 1}

### 50 Merge multiple sets into one.

In [25]:
set1 = {1,2}
set2 = {3,4,5}
set3 = {6,7,8}

merge_multiple = set1.union(set2,set3)
print("merge multiple sets into one:", merge_multiple)

merge multiple sets into one: {1, 2, 3, 4, 5, 6, 7, 8}